In [1]:
%matplotlib inline
from scipy.stats import t
import pandas as pd

In [2]:
import pandas_datareader.data as pdr
import numpy as np

In [3]:
end = "2021/01/11"
n225  = pdr.DataReader ("NIKKEI225", "fred", "1945/5/16", end).dropna()

In [4]:
develop = n225.loc[:"1989/12/31"] #経済成長期
reform = n225.loc["1989/12/31":]
year = n225.loc["1989"]
years = [x+1950 for x in range(71)]
m = lambda x: x.month
count = [0] * 12

In [ ]:
# 年ごとに平均値の差の検定を行う
for i in years:
    year = n225.loc[str(years[i])]
    r = year.pct_change().groupby([m])
    tv = r.mean()/r.std()*np.sqrt(r.count())
    t0 = t.ppf(1-alpha, len(r)-1)
    break

In [ ]:
m = lambda x:x.month
r = year.pct_change().groupby([m])

In [5]:
year.pct_change().groupby([m])
np.sqrt(year.count())

NIKKEI225    15.716234
dtype: float64

In [ ]:
count = [0] * 12

In [ ]:
30183.79-30243.66

In [ ]:
year-year.shift(1)

In [9]:
r = year.pct_change().groupby([m])

In [15]:
alpha = 0.05
tv = r.mean()/r.std()*np.sqrt(r.count())
t.ppf(1-0.1, len(r)-1)

1.3634303180205214

In [12]:
tv

    NIKKEI225
1    1.997391
2    0.569720
3    0.740495
4    0.961646
5    0.863884
6   -1.375323
7    2.690180
8   -0.923108
9    1.624471
10  -0.052841
11   2.722581
12   1.802793

In [13]:
len(r)

12